# Linear Regression
- Linear Regression is one of the easiest to understand and more commonly used algorithm for regression related tasks. The algorithm's main formula is, `y = mx+c`. Where,
    - `y` is the predicted value/dependent variable that the model tries to output.
    - `x` is the input value/ independent variable that the model uses to make the prediction.
    - `m` is the slope of the line. It is also called the weight of a model. `m` determines the effect of x on y.
    - `b` is the bias, which indicates where the line croses the y-axis when x=0.

# Implementation of Linear Regression in python
- LinearRegression Models can be implemented in python using `scikit-learn`'s `LinearRegression` object. Let's get coding !

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("LinearRegression.csv")

In [4]:
df.head()

          X          y
0  3.745401  12.664897
1  9.507143  23.416271
2  7.319939  19.823400
3  5.986585  12.998032
4  1.560186   7.681029

In [5]:
df.describe()

                X           y
count  100.000000  100.000000
mean     4.701807   14.401454
std      2.974894    5.956387
min      0.055221    4.065697
25%      1.932008    9.205880
50%      4.641425   13.462213
75%      7.302031   19.659831
max      9.868869   26.301384

In [7]:
df.isnull().sum()

X    0
y    0
dtype: int64

We can see that our data is basically ready to go as it has no empty values and the data follows the same data type for all the values. So, let's start making our first ML model!

In [16]:
X_train,X_test,y_train,y_test =train_test_split(df['X'],df['y'],test_size=0.2,random_state=42)

The first step to making any ML model is to train it, for that purpose we need to split the available data in two major parts, training and testing. The model will only be given the training data and we'll validate it with the test data. We can either define our own function to split the data or we can use the `train_test_split` function from scikit-learn library, which provides us with a bit more control to the data splits.